<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Movies</title> 
    <div th:insert="fragment :: bootstrapCss"></div>
  </head>
  <body>
    <div class="container">
      <div th:insert="fragment :: navbar"></div>
      
      <div class="d-flex flex-column align-items-center">
        <h1>Best Movies</h1>
        <div>
          <ul class="list-group">
            <li class="list-group-item" th:each = "film : ${film}">
              <a th:href="@{/movies/{id}(id=${film.id})}" th:text = "${film.titolo}" class="text-decoration-none"></a>
              <!--<span th:text = "${film.titolo}"></span>-->
            </li>
          </ul>
        </div>
      </div>
      <!--Stringa FILM
      <div>
        <p th:text ="|La lista dei film è ${stringFilm}|"></p>
      </div>
      -->
      <!--Step2
      <div>
        <ul>
          <li th:each = "film : ${film}">
            <span th:text = "|Id: ${film.id} - Nome: ${film.titolo}|"></span>
          </li>
        </ul>
      </div>
      -->
    </div>
    <div th:insert="fragment :: bootstrapJS"></div>
  </body>
</html>