<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Search Movies</title> 
        <div th:insert="fragment :: bootstrapCss"></div>
    </head>
    <body>
        <div class="container">
            <div th:insert="fragment :: navbar"></div>

            <h1>Il film cercato</h1>
            <div th:if = "${film != null}">
                <p th:text = "|Il film cercato è ${film.titolo}|"></p>
            </div>
            <div th:if = "${film == null}">
                <p th:text = "'Il film cercato non è presente!'"></p>
            </div>
        </div>

        <div th:insert="fragment :: bootstrapJS"></div>
    </body>
</html>