<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Songs</title> 
    <div th:insert="fragment :: bootstrapCss"></div>
  </head>
  <body>
    <div class="container">
      <div th:insert="fragment :: navbar"></div>
      
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>Best Songs</h1>
        <div>
          <ul class="list-group">
            <li class="list-group-item" th:each = "song : ${song}">
              <span th:text = "${song.titolo}"></span>
            </li>
          </ul>
        </div>
      </div>
      <!--Stringa CANZONI
      <div>
        <p th:text ="|La lista delle canzoni è ${stringSong}|"></p>
      </div>
      -->
      <!--Step2
      <div>
        <ul>
          <li th:each = "song : ${song}">
            <span th:text = "|Id: ${song.id} - Nome: ${song.titolo}|"></span>
          </li>
        </ul>
      </div>
      -->
    <div>
    <div th:insert="fragment :: bootstrapJS"></div>
  </body>
</html>